body{background:linear-gradient(rgb(32, 88, 85),rgb(21, 65, 63));font-family: 'Aboreto', cursive;color: white ;}
h1,h2,h3,h5,h6{font-family: 'Aboreto', cursive;color:rgb(210, 181, 115);}
a{font-family: 'Aboreto', cursive;}
.h2{color:rgb(210, 181, 115);;}

/* rgb(205, 180, 149) */

.navbar{min-height: 5em;background-color:rgb(210, 181, 115, 0.9);}
.resume{background:linear-gradient(rgb(60, 121, 118),rgb(35, 99, 96)) ;min-height: 20em;} 
/* rgba(114, 69, 21, 0.791) */
.presentation{background: linear-gradient(rgb(72, 157, 153),rgb(54, 120, 117));min-height: 20em;}
/* rgba(119, 105, 94, 0.701) */
.reseaux a img{max-height:50px;}
.mentions p a{color:white;}
.images, .card{box-shadow: 0 20px 40px rgba(0,0,0,.5);border: solid 5px rgb(214, 170, 65);}
.up{background-color: bisque;color: black;position: fixed;bottom: 10%;right: 5%;border-radius: 50%;}

.card{background-color: rgba(125, 205, 208, 0.411);}

/* Gérer l'apparition */

.reveal [class*="reveal-"]{
    opacity: 0!important;
    transform: translateY(60px)!important;
}

[class*="reveal-"]{
    transition: 1.5s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2{
    transition-delay: .1s;;
}

.reveal-3{
    transition-delay: .3s;;
}

.reveal-4{
    transition-delay: .5s;;
}